@import '../palettes/dark-palette';

$app-primary: mat-palette($primary-palette);
$app-accent:  mat-palette($accent-palette);
$app-warn:  mat-palette($mat-red);
$app-theme:   mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$app-foreground: map-get($app-theme, foreground);

$primary:    mat-color($app-primary) !default;
$accent:     mat-color($app-accent) !default;
$warn:       mat-color($app-warn) !default;
$foreground: mat-color($app-foreground, text) !default;

