@import '../palettes/light-palette';

.light-theme {
  $light-primary: mat-palette($light-primary-palette);
  $light-accent:  mat-palette($light-accent-palette);
  $light-theme:   mat-light-theme($light-primary, $light-accent);

  @include angular-material-theme($light-theme);

  $light-warn: map-get($light-theme, warn);
  $light-foreground: map-get($light-theme, foreground);
  
  $primary:    mat-color($light-primary);
  $accent:     mat-color($light-accent);
  $warn:       mat-color($light-warn);
  $foreground: mat-color($light-foreground, text);
}
