$primary-palette: (
    50 : #799cbe,
    100 : #4d759e,
    200 : #3a5978,
    300 : #233648,
    400 : #192634,
    500 : #0f171f,
    600 : #05080a,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #5396da,
    A200 : #2363a4,
    A400 : #183049,
    A700 : #162432,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-palette: (
    50 : #feffff,
    100 : #b2e3ff,
    200 : #7acfff,
    300 : #32b6ff,
    400 : #14abff,
    500 : #009df4,
    600 : #0089d5,
    700 : #0076b7,
    800 : #006298,
    900 : #004e7a,
    A100 : #f4fbff,
    A200 : #8ed7ff,
    A400 : #28b2ff,
    A700 : #0ea9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
