/* For use in src/lib/core/theming/_palette.scss */
$primary-palette: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #f9fbfb,
    500 : #e6ecf0,
    600 : #d3dde5,
    700 : #c0cfd9,
    800 : #adc0ce,
    900 : #99b2c2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f6f8fa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-palette: (
    50 : #ffffff,
    100 : #cfebfc,
    200 : #9ad5f9,
    300 : #57b9f5,
    400 : #3aadf4,
    500 : #1da1f2,
    600 : #0d92e3,
    700 : #0b7fc6,
    800 : #0a6da9,
    900 : #085a8c,
    A100 : #ffffff,
    A200 : #a9deff,
    A400 : #43b7ff,
    A700 : #30acf9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);