
.search-form {
  font-size: 17px;
  .search-icon {
    font-size: 17px;
    line-height: 17px;
    height: 17px;
    width: 17px;
  }
}

.app-container {
  .mat-card:first-child {
    padding: 0;
    min-height: 100vh;
    .mat-card-content {
      height: 100%;
    }
  }
}