{{ weather | json }}

<div *ngIf="weather; else loading" class="weather-container">
  <div class="weather-header" fxLayout="column" fxLayoutAlign="center center">
    <div class="weather-time">{{ current?.temp_c }} º</div>
    <div class="weather-location-container">
      <div class="weather-date">
        {{ location.localtime | date: 'dd/MM/yyyy HH:mm' }}
      </div>
      <div class="weather-location">{{ location.name }}</div>
      <div class="weather-sublocation">{{ location.tz_id }}</div>
    </div>
  </div>

  <div *ngIf="forecast" class="weather-forecast-container"
    fxLayout="row" fxLayout="start center" fxLayoutGap="20px"
    fxLayout.lt-sm="column" fxLayout.lt-sm="start strech">
    <div *ngFor="let day of forecast.forecast.forecastday" class="day-container">
      <div class="day-number">{{ day.date | date: 'dd' }}</div>
      <div>
        <img [src]="getDayIcon(day.day.condition.icon)">
      </div>
      <div class="temp-container">
        {{ day.day.maxtemp_c }}º {{ day.day.mintemp_c }}
      </div>
    </div>
  </div>
</div>

<ng-template #loading> <mat-spinner></mat-spinner> </ng-template>
