@import '~@angular/material/theming';

@include mat-core();

// GLOBAL STYLES
@import './app/core/styles/global/global';
// MATERIAL STYLES
@import './app/core/styles/material/toolbar';
// DEFAULT THEMES
@import './app/core/styles/themes/dark-theme';
@import './app/core/styles/themes/light-theme';

body {
  margin: 0;
  font-family: $font-family;
}
