@import '~@angular/material/theming';

@include mat-core();

// GLOBAL STYLES
@import './app/core/styles/global/global';
// MATERIAL STYLES
@import './app/core/styles/material/toolbar';
// DEFAULT THEMES
@import './app/core/styles/themes/dark-theme';
@import './app/core/styles/themes/light-theme';

body {
  margin: 0;
  font-family: $font-family;
}

mat-toolbar.mat-toolbar {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}